<%- include('./partials/head') %>

<div class="container">
  <div class="stage">
    <header>
      <h1>Super Minor Bros</h1>
      <!-- <h2>Learn more about these super bros </h2> -->
      <!-- <p id="headerInfo" class="headerInfo">(click the pipes!)</p> -->
    </header>
    <ul id="users"></ul>
    <div id="mario" class="mario idle"></div>
  </div>
  <div id="ground" class="ground">
    <div id="grass" class="grass"></div>
  </div>
</div>
<%-include('./partials/foot') %>
