<%- include('./partials/head') %>

<section>
  <h2>Hi 🖖,</h2>
  <p>You have reached the website of Justus Sturkenboom, Philosophy/ Computer
  Science Lecturer at the #auas in the #cmda bachelor programme. Co-creator of
  the new #fdnd associate degree programme... and i do some sketchnoting for
  fun ^^</p>
</section>

<section>
  <!-- Placeholder for other things -->
</section>

<%- include('./partials/foot') %>
