<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Underground</title>
    <link rel="stylesheet" href="/css/underground.css">
    <script type="module" src="/js/underground.js"></script>
</head>

<body>
    <div id='head'></div>

    <div class="flex-container">
        <% for (key in repositories) { %>
            <div><a target=_blank href="<%- repositories[key].node.url %>"><p><%- repositories[key].node.name %></p></a></div>
        <% } %>  
    </div>  

    <div class = "buttonPipe">
        <div class="pixel-size carnivorousPlant"></div>
        <div class="pixel-size pipe"></div>
    </div>

    <div id="pipeTop">
        <div class="pixel-size pipe"></div>
    </div>

    <div id="mario"> </div>

    <div id="footer"></div>
</body>
</html>