<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/underground.css">
</head>

<body>
    <div id='head'></div>
    <div class="flex-container">
        <% for (key in repositories) { %>
            <div><a href="<%- repositories[key].node.url %>"><p><%- repositories[key].node.name %></p></a></div>
        <% } %>
        
    </div>  

    <div id="pipeWithPlant">
        <div class="pixel-size carnivorousPlant"></div>
      <div class="pixel-size pipe"></div>
    </div>

    <div id="pipeTop">
        <div id="pipeWithPlant">
          <div class="pixel-size pipe"></div>
        </div>
    </div>

    <div id="footer"></div>
</body>
</html>



<h1> <%- name %></h1>

    

<% for (key in repositories) { %>
    <p><%- repositories[key].node.name %></p>
<% } %>
