:root {
  --dark: #323537;
  --light: #f0f0ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--dark);
  background-color: var(--light);
  line-height: 1.6rem;
  min-height: 100%;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 2rem 4rem 1fr 3rem;
  grid-template-areas:
    '. . . .'
    '. head nav .'
    '. main main .'
    'footer footer footer footer';
}

h1,
h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

header {
  grid-area: head;
}

header h1 {
  width: 4rem;
  height: 4rem;
  line-height: 3.6rem;
  border-radius: 2rem;
  font-size: 3.6rem;
  text-align: center;
  text-transform: lowercase;
  color: var(--light);
  background-color: var(--dark);
  overflow: hidden;
}

nav {
  grid-area: nav;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
}
ul li {
  display: block;
  padding: 0 1rem;
  height: 4rem;
}
ul li a {
  display: block;
  line-height: 4rem;
  color: var(--dark);
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}
main {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem 1fr;
  grid-template-areas:
    '. items'
    'text items'
    '. items';
}
main section:nth-of-type(1) {
  grid-area: text;
  font-size: 1.3rem;
}

main section:nth-of-type(1) h2 {
  margin-bottom: 1rem;
}

main section:nth-of-type(2) {
  grid-area: items;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.4rem;
}

article {
  border: 1px solid var(--dark);
  border-radius: 0.6rem;
  font-size: 1rem;
  padding: 0.2rem;
}
article h2 {
  text-align: center;
  font-size: 1rem;
}
article a.live,
article a.github {
  text-decoration: none;
}
article a.live::after {
  content: '🤘';
}
article a.github {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(/octocat.png);
  background-size: contain;
}
article a.live span,
article a.github span {
  display: none;
}

footer {
  grid-area: footer;
  background: var(--dark);
  background-image: linear-gradient(45deg, var(--light) 25%, transparent 25%),
    linear-gradient(-45deg, var(--light) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--light) 75%),
    linear-gradient(-45deg, transparent 75%, var(--light) 75%);
  background-size: 2rem 2rem;
  background-position: 0 0, 0 1rem, 1rem -1rem, -1rem 0;
}
footer p {
  display: none;
}
